
/* navbar */
.color-navbar {
    background: #D60E0D;
}
.color-main {
    padding-top: 150px;
}
.nav-item {
    padding-left: 20px;
}
.color-main {
    background-color: rgb(175, 168, 168);
}
.color-textobotones {
    background-color: rgb(218, 89, 3);
}
.margenboton {
 padding-bottom: 20px;
}
.container2 {
    background-color: rgb(218, 89, 3);
}
.fondocolor {
    background-color: rgb(175, 168, 168);
}